<%= form_with(model: booking, data: { turbo: false }) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="form-group">
    <div>
      <h5>Room address:</h5>
      <!-- display the full address in badge -->
      <span class="badge rounded-pill bg-success"> 
        <%= booking.room.room_address %>, <%= booking.room.room_city%>, <%= booking.room.room_state%> <%= booking.room.room_zip %>
      </span> 
    </div>

    <div>
      <%= form.label :check_in, style: "display: block" %>
      <%= form.date_field :check_in %>
    </div>

    <div>
      <%= form.label :check_out, style: "display: block" %>
      <%= form.date_field :check_out %>
    </div>
      
    <!-- creating hidden value for room id associated with booked room -->
    <%= form.hidden_field(:room_id, value: booking.room.id) %>

    <div style="margin-top: 20px;">
      <%= form.submit class:"btn btn-success" %>
    </div>
  </div>
<% end %>
