<p style="color: green"><%= notice %></p>
<div id="new_booking" class="pages_index_background">
  <div class="container">
    <h1 id="editing_booking" class="display-4 text-center my-3 text-muted">Booking details</h1>

    <%= render @booking %>
    
    <div>
      <%= link_to "Edit this booking", edit_booking_path(@booking), class: "btn btn-outline-success mb-5" %> 
      <%= link_to "Back to bookings", bookings_path, class: "btn btn-outline-primary mb-5" %> <br>

      <%= button_to "Delete room", @booking, method: :delete, class: "btn btn-outline-danger", style: "margin-bottom: 20px;", data: { toggle: "modal", target: "#deleteModal" } %>
    </div>
  </div>
</div>
