<div id="pages_index" class="pages_index_background">
  <div class="container">

    <% if current_user %>
      <h1>Welcome, <%= current_user.email %>!</h1>
      <div class="d-flex justify-content-center">
        <%= link_to 'Log out', user_session_path(current_user), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %><br>
      </div>

    <% else %>
    
      <div>
        <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-primary mt-5 mb-5" %> <%= link_to "Sign up", signup_path, class: "btn btn-outline-success mt-5 mb-5" %><br>
      </div>
  
    <% end %>
  </div>
</div>
<!--
<%= form_for User.new do |f| %>
  
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <p>
    <%= f.submit class: "btn btn-outline-success mt-3"%>
  </p>
<% end %> -->