<!-- navbar for login page-->
<nav class="navbar navbar-info bg-info fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#"><strong>R4R</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-info" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">R4R offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
              <%= link_to 'Logout', user_session_path(current_user), data: { turbo_method: :delete }, class: "dropdown-item" %><br>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Room
            </a>

            <ul class="dropdown-menu dropdown-menu-light">
              <%= link_to "List rooms", rooms_path, class: "dropdown-item" %>
              <%= link_to "Create room", new_room_path, class: "dropdown-item" %>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Editing Room</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Booking
            </a>
            <ul class="dropdown-menu dropdown-menu-light">
              <%= link_to "List bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Book room", new_booking_path, class: "dropdown-item" %>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Editing booking</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav> <!-- /navbar for login page-->

<!-- banner component --> 
<section class="bsb-hero-5 px-3 bsb-overlay banner-background-image">
  <div class="container-fluid">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7">
        <h2 class="display-1 text-white text-center fw-bold mt-5" style="color: #3949AB">
          Welcome to R4R!
        </h2>
        <p class="lead text-white text-center mb-5 d-flex justify-content-sm-center">
          <span class="col-12 col-sm-10 col-md-8 col-xxl-7">Find your perfect room, make it your own!</span>
        </p>
      </div>
    </div>
  </div>
  </div>
</section>

<p style="color: green"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <h1 id="available" class="display-4 text-center my-5 text-muted">Available Rooms</h1>
      <div class="">
        <div class="row">
          <% if @rooms.any? %>
            <% @rooms.each do |room| %>
              <div class="col-sm-6 col-md-6 d-flex align-items-stretch" style="margin-left: 0px; margin-bottom: 30px">
                <div class="card">
                  <img class="card-img-top" alt="Room image">
                  <div class="card-body">
                    <h6 class="card-title">Room Info</h6>
                      <ul class="list-inline">
                        <li>
                          <strong>Size</strong>: <%= room.room_size %>     |
                          <strong>Class</strong>: <%= room.room_class %>    |
                          <strong>Pice</strong>: $<%= room.room_price %>    |
                          <strong>Status</strong>: <%= room.room_status %>     |
                          <strong>Number of Beds</strong>: <%= room.number_of_beds %>     |
                          <strong>Bed Size</strong>: <%= room.bed_size %>     |
                          <strong>Smoke</strong>: <%= room.room_smoke %>
                        </li>
                      </ul>
                      <address>
                        <h6>Address</h6>
                        <%= room.room_address %>, <%= room.room_city %>,<br> 
                        <%= room.room_state %>, <%= room.room_zip %>, <%= room.room_country %><br>
                      </address>

                      <h6 class="card-title">Description </h6>
                      <blockquote>
                        <p><%= room.room_description %></p>
                      </blockquote>
                    </div>
                    <div class="card-footer">
                      <p>
                        <%= link_to "Show room", room, class: "btn btn-outline-primary" %> 
                        
                        <!-- this link to allows user to create a booking from the cards -->
                        <%= link_to "Book room", new_room_booking_path(room), class: "btn btn-outline-success" %>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p class="btn btn-primary" style="margin: 40px"> No rooms available</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- booked rooms session -->
    <div class="col-4">
      <h1 id="available" class="display-4 text-center my-5 text-muted">Booked Rooms</h1>
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beautiful studio</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Check this one!</a>
        </div>
      </div>
    </div><!-- /booked rooms session -->
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <%# <h1 id="available" class="display-4 text-center my-5 text-muted">More Rooms</h1> %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer-->
<footer class="text-lg-star" style="background-color: #dee2e6; margin-top: 20px">
  <div class="text-center p-3">
    <p id="copyright" class="mb-2">© 2024 Muginga, Laurindo </p>
  </div>
</footer>  <!-- footer-->